modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000  # Frontend expuesto en el puerto 3000
externalPort = 80 # Se expone públicamente el puerto 80 para el frontend

[[ports]]
localPort = 5000    # Backend corriendo en el puerto 5000 internamente
externalPort = 8099 # Se expone públicamente en el puerto 8099 para el backend
